<div class="col-2">

</div>
<div class="col-8 m-auto">
    <form [formGroup]="signinForm" (ngSubmit)="postdata(signinForm)" class="d-flex flex-column align-items-center mt-2">
        <h2>Vous avez déjà un compte, connectez-vous</h2>
        <div class="form-group w-100">
            <label for="usernamePartner">Votre e-mail</label>
            <input type="text" name="usernamePartner" class="form-control" autocomplete="off" placeholder="" formControlName="usernamePartner">
        </div>
        <div class="form-group w-100">
            <label for="Password">Votre mot de passe</label>
            <input type="password" class="form-control" name="Password" placeholder="" autocomplete="off" formControlName="password">
        </div>
        <button type="submit" [disabled]="signinForm.invalid" class="btn btn-primary text-center mt-2 buttonSearchGarage w-100">Connexion</button>
    </form>
</div>
<div class="col-2">

</div>
