<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="calcul" routerLinkActive="active">Calcul</a>
  </div>
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="auth" routerLinkActive="active">Auth</a>
  </div>
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="bookingCalendar" routerLinkActive="active">Booking</a>
  </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <!-- <alert></alert> -->
  <router-outlet></router-outlet>
</div>
